.square {
  width: 83.25px !important;
  height: 83.25px !important;
  position: relative;
}

.square:hover {
  transition: 300ms;
}

.darkSquare {
  background-color: #c3a082;
}

.whiteSquare {
  background-color: #f2e1c3;
}

.placed {
  display: unset;
  /* margin: 0 auto; */
  cursor: pointer;
  cursor: grab;
  padding: 12%;
}

.placed:hover {
  cursor: grab;
}

.square.hover {
  border: 2px solid black;
}
