.square {
  width: 83.25px !important;
  height: 83.25px !important;
  position: relative;
}

.square:hover {
  transition: 300ms;
}

.darkSquare {
  background-color: #c3a082;
}

.whiteSquare {
  background-color: #f2e1c3;
}

.placed {
  cursor: pointer;
  cursor: grab;
  padding: 11.64px;
}

.square.hover {
  border: 2px solid black;
}

.square.availablePlaces {
  background-color: gray;
}

.placed.hover {
  transform: scale(1.05);
}

.lastPlaced {
  background-color: yellow;
}
.newPlaced {
  background-color: red;
}
