.square {
  width: 83.25px !important;
  height: 83.25px !important;
  position: relative;
}

.square:hover {
  transition: 300ms;
}

.darkSquare {
  background-color: #c3a082;
}

.whiteSquare {
  background-color: #f2e1c3;
}

.placed {
  cursor: pointer;
  cursor: grab;
  padding: 11.64px;
}

.square.hover {
  border: 2px solid black;
}

.square.availablePlaces::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.7);
}

.placed.hover {
  transform: scale(1.05);
}

.lastPlaced {
  background-color: yellow;
}
.newPlaced {
  background-color: red;
}
